Options +FollowSymLinks  
RewriteEngine On  
  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  
  
RewriteRule ^.*$ ./index.php
#RewriteRule ^post/(\d+)*$ ./post.php?id=$1 